@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e4e4e4;
}
h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}
h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;   
}
p, ol, ul {
    margin-bottom: 10px;
}
ul {
    list-style: square;
    padding-left: 30px;
}
a {
    @apply text-blue-500;
}
a:hover {
    @apply text-blue-600;
}
a.danger {
    @apply text-red-600;
}
a.danger:hover {
    @apply text-red-700;
}

/**
    Custom Components
*/
.card {
    @apply mx-auto p-4 mb-4 text-left bg-white shadow-md rounded;
}
.btn {
    @apply font-bold py-2 px-4 rounded;
}
.btn-sm {
    @apply font-normal py-1 px-2
}
.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-orange {
    @apply bg-orange-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}
.btn-orange:hover {
    @apply bg-orange-700;
}
.btn-blue:disabled,
.btn-blue[disabled] {
    @apply bg-blue-400 text-white;
}
.tag {
    @apply bg-gray-500 text-white rounded py-1 px-2 mr-1 mb-1
}
a.tag:hover {
    @apply bg-gray-700 text-white
}
a.tag.selected {
    @apply bg-blue-500
}