@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-mono text-sm bg-gray-100 text-gray-600
}
input[type="text"], input[type="password"] {
    @apply w-full appearance-none rounded border border-gray-400 mb-2 p-2 text-gray-600 leading-tight font-mono shadow-inner
}
h1 {
    @apply text-lg font-semibold mb-2
}
h2 {
    @apply text-base font-semibold mb-2
}
p, ol, ul {
    @apply mb-2
}
ul {
    @apply list-disc pl-5
}
label {
    @apply block mb-1 text-gray-600
}
a {
    @apply text-green-500;
}
a:hover {
    @apply text-green-700;
}
a.danger {
    @apply text-orange-600;
}
a.danger:hover {
    @apply text-orange-700;
}

/**
    Custom Components
*/
.password:first-child {
    @apply rounded-t
}
.password {
    @apply bg-white border-b border-gray-200;
}
.password:hover {
    @apply bg-gray-200
}
.password.selected {
    @apply bg-gray-500 text-white
}
.card {
    @apply mx-auto mb-4 text-left bg-white shadow-md rounded;
}
.btn {
    @apply py-2 px-4 rounded bg-gray-600 text-white;
}
.btn:hover {
    @apply bg-gray-800
}
.btn-sm {
    @apply py-1 px-2
}
.btn-green {
    @apply bg-green-500;
}
.btn-green:hover {
    @apply bg-green-700;
}
.btn-green:disabled, .btn-green[disabled] {
    @apply bg-green-300 cursor-default
}
.tag {
    @apply bg-gray-500 text-xs text-white rounded py-1 px-2 mr-1 mb-1 whitespace-no-wrap inline-block
}
a.tag {
    @apply bg-gray-700
}
a.tag:hover, a.tag.selected {
    @apply bg-gray-900 text-white
}

/* Override some vue-tags-input styles */
.ti-input {
    @apply rounded shadow-inner
}
.ti-new-tag-input {
    border: none !important;
    box-shadow: none !important;
    @apply text-sm
}